.region_select_container {
    border: 1px solid #263747;
    background: rgba(0, 0, 0, .25);
    border-radius: 0.25rem;
    width: 200px;
    position: relative;
    margin-bottom: 12px;
}

.region_select_container:hover {
    background: rgba(255, 255, 255, .15);
    filter: brightness(115%);
    backdrop-filter: saturate(150%) brightness(175%);
}

.region_select_container label {
    font-size: .75rem;
    text-transform: uppercase;
    padding: 2px 8px;
    position: absolute;
    color: #99ABBF;
    font-weight: 700;
}

.region_select_container select {
    background: rgba(0, 0, 0);
    border-radius: 0.25rem;
    border: 0px;
    height: 50px;
    font-size: 16px;
    width: 100%;
    padding: 2px 4px;
    font-weight: 700;
    text-transform: uppercase;
}

.leaderboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    max-width: 1280px;
    width: 100%;
}

.leaderboard_table {
    border-collapse: collapse;
    border: 1px solid #1b2733;
}

.leaderboard_table th,
.leaderboard_table td {
    padding: 8px;
    text-align: left;
}

.leaderboard_table th {
    background-color: #1b2733;
}

.leaderboard_table tr:nth-child(odd) {
    background-color: #0F1923;
}

.leaderboard_table tr:nth-child(even) {
    background-color: #1b2733;
}

.text_style {
    font-size: 1.125rem;
    font-weight: 700;
}

.card_image {
    border-radius: 50%;
    padding: 0.15rem;
    min-height: 2rem;
    min-width: 2rem;
    height: 2rem;
    width: 2rem;
    position: relative;
    box-shadow: 0 0 0 0.15rem #ffffff inset;
    vertical-align: middle;
    margin-right: 1rem;
}