.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131727;
    color: white;
    padding: 10px 20px;
    height: 74px;
}

.logoContainer {
    background-color: #FF4655;
    border-radius: 0.5rem;
}

.logo {
    height: 54px;
    width: 54px;
    fill: white;
}

.search_container>div {
    width: auto;
}