.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131727;
    color: white;
    padding: 0.625rem 1.25rem;
    height: 4.625rem;
}

.logo_container {
    background-color: #FF4655;
    border-radius: 0.5rem;
}

.logo {
    height: 3.375rem;
    width: 3.375rem;
    fill: white;
}

.search_container>div {
    width: auto;
}