.search_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.suggestions_container {
  margin-top: 0.25rem;
  height: 9.375rem;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.suggestions_list {
  border: 1px solid #3b3b3b;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 1rem;

  scrollbar-color: #c1c1c1 #e6e6e6;
  scrollbar-width: thin;
  border-radius: 0.625rem !important;

  @media (prefers-color-scheme: dark) {
    background-color: #141627;
    border: 1px solid #212836;
  }
}

.suggestions_list::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 0.625rem !important;
}

.suggestions_list::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.suggestions_list::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid transparent;
  border-radius: 0.625rem !important;
}

.suggestions_list::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth !important;
}

.suggestions_item:hover {
  filter: brightness(115%);
  backdrop-filter: saturate(150%);
  cursor: pointer;
}