.main {
  text-align: center;
  display: block;
  margin: auto;
}

.title_logo_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: xx-large;
  font-weight: 600;
  word-break: break-all;
  align-items: center;
}

.logo_container {
  display: block;
}

.logo {
  fill: #000;
  height: 6.25rem;
  width: fit-content;

  @media (prefers-color-scheme: dark) {
    fill: #fff;
  }
}

.search_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.leaderboard_cards_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.875rem;
  flex-wrap: wrap
}