.card_container {
    display: flex;
    flex-direction: column;
    width: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    border-radius: 0.25rem;
    justify-content: space-between;
}

.card_player_link {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card_player_link:hover {
    filter: brightness(115%);
    backdrop-filter: saturate(150%);
}

.card_negative_margin {
    margin: -24px;
}

.leaderboard_rank {
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #FFEB99, #AD801C);
    color: #111;
    padding: 0.5rem;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 0.25rem;
}

.leaderboard_rank_text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.game_name_container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.region_text {
    color: #cbb765;
    font-size: .75rem;
    font-weight: 500;
}

.ranked_rating {
    max-width: 9rem;
    font-size: 2rem;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
}

.see_leaderboard_link {
    display: flex;
    align-self: stretch;
    background-color: #272A30;
    padding: 0.75rem 1rem;
    text-decoration: none;
    text-align: center;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.see_leaderboard_link:hover {
    filter: brightness(115%);
    backdrop-filter: saturate(150%);
}

.see_leaderboard_text {
    font-size: .875rem;
    font-weight: 700;
}

.upper_case {
    text-transform: uppercase;
}