.tiptap {
    resize: vertical;
    overflow: auto;

    min-height: 7.5rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: rgb(17 24 39 / 1);

    border-color: rgb(31, 41, 55);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

.tiptap:hover {
    background-color: rgb(19 26 43);
}

.tiptap:focus {
    border-color: rgb(30 64 175);
}

.tiptap p.is-editor-empty:first-child::before {
    color: rgb(107 114 128);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.menu-bar-container button span {
    cursor: pointer;
    width: 3rem;
}

.menu-bar-container button:disabled span {
    pointer-events: none;
}

.menu-bar-container button:hover span {
    opacity: 0.5;
}

.menu-bar-container button:disabled:hover span {
    opacity: 1;
}

.menu-bar-container {
    display: flex;
    gap: 0.5rem;
}

.comment-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.comment-post-button {
    width: fit-content;
    align-self: flex-end;
}